*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
}

.button__image {
  width: 2.5em;
}

.container {
  background-color: #f9fafb;
  box-shadow: 2px 5px 5px grey;
  color: #1e2939;
  margin: 10px auto 0;
  min-width: 480px;
  padding: 10px;
  width: 500px;
}

.options-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.rps-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-between;
  gap: 5px;
  text-align: center;
  padding: 5px;
  width: 90px;
}

.container__title,
.container__desc,
.result-message {
  text-align: center;
}

.container__title,
.container__desc {
  margin-bottom: 10px;
}

.result-message {
  padding: 10px 5px;
}

.points {
  font-size: 1.3rem;
  text-align: center;
  padding: 25px;
}

.options-container>div:hover {
  cursor: pointer;
}